body {
    background-color: #eeeeee;
}

h1, h2 {
    text-align: center;
}

.nav li {
    min-width: 200px;
    text-align: center;
}

.logo {
    width: 40px;
    position: absolute;
    top: 5px;
}

.navbar-brand {
    width: 75px;
}

