body {
    background-color: #eeeeee;
}

h1, h2, h3 {
    text-align: center;
}

.nav li {
    min-width: 200px;
    text-align: center;
}

.logo {
    width: 40px;
    position: absolute;
    top: 5px;
}

.navbar-brand {
    width: 75px;
}

.welcome {
    margin-left: 25px;
}

.abc-grid {
    margin: 10px;
    cursor: pointer;
}

.abc-grid thead {
    font-size: 18px;
    color: rgb(255, 255, 255);
    background-color: #373a3c;
    font-weight: normal;
}

.abc-grid td:first-of-type {
    font-weight: bold;
}